@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');


* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family: 'Lato';
}

.header {
  background:#C4C4C4 0% 0% no-repeat padding-box;
  height: 50px;
  width: 100%;
}

.nav {
  display: flex;
  justify-content: flex-start;
}

nav ul li a {
  color: #000000;
  font: normal normal bold 16px/19px Lato;
  letter-spacing: 0px;
}

.logo{
  height: 50px;
  width: 350px;
  padding: 12px 100px;
  line-height: 50px ;
}

.navmenu {
  display: flex;
  margin-left: 55px;
}

.menuitem {
  margin-right: 21px;
  line-height: 50px;
  width: max-content;
}

.checkbtn {
  color: #000000;
  background: none;
  border: none;
  font-size: 30px;
  opacity: 0.7;
  padding: 0 20px;
  line-height: 50px;
  display: none;
}

#check{
  display: none;
}


.btnnav {
  border: none;
  background: none;
  cursor: pointer;
  font: normal normal bold 16px/19px Lato;
}

.submenu {
  display: none;
  position: absolute;
  z-index: 10;
  left: 390px;
  margin: 0;
  padding: 0;
  min-width: calc(3.5 * var(--menu-item-size) - 5%);
}

.with-submenu {
  display: inline-block;
  letter-spacing: 0px;
  line-height: 50px;
}

.with-submenu:hover .submenu {
  display: block;
}

.submenu > li {
  background: #dedede;
  color: #777;
  padding: 1.2em 1em;
  display: block;
}


.container {
  display: inline-flex;
  width: 100%;
  padding-left: 15px;
}

.sidebar {
  margin-top: 20px;
  margin-left: 87px;
  margin-right: 24px;
  width: 400px;
  max-width: 280px;
  height: 640px;
  background: #CA5310 0% 0% no-repeat padding-box;
  position: relative;
}

#hola {
  margin: 80px;
  font: normal normal bold 30px Lato;
}

.subcontainer {
  margin-top: 20px;
  width: 100%;
}

.crd_dsgn {
  width: 200px;
  border:1px solid #000000;
  height: 300px;
  float: left;
  margin: 0 30px 40px 0;
  background: #EAEAEA;
}

.crd_img {
  margin: 12px 15px 0px 15px; 
}

.crd_img img {
  height: 100%;
  transform: scale(1.0);
  width: 170px;
  height: 170px;
}

.detail {
 margin: 10px 15px 0px 15px
}

.titulo {
  text-align: left;
  font: normal normal bold 12px/15px Lato;
  letter-spacing: 0px;
  color: #000000;
  margin-bottom: 3px;
}

.marca {
  text-align: left;
  font: normal normal normal 12px/15px Lato;
  letter-spacing: 0px;
  color: #000000;
  margin-bottom: 3px;
}

.precio {
  text-align: left;
  font: normal normal normal 12px/15px Lato;
  letter-spacing: 0px;
  color: #000000;
  margin-bottom: 3px;
}

.crd_hdng .btn-c  {
  width: 170px;
  height: 26px;
  padding: 4px 50px 5px 50px;
  border: hidden;
  margin-bottom: 12px;
  text-transform: uppercase;
  margin-top: 10px;
  font: normal normal bold 14px/17px Lato;
  color: #000000;
  letter-spacing: 0px;
  background: #C4C4C4 0% 0% no-repeat padding-box;
}


.crd_hdng button {
  width: 100%;
  height: 50px;
  padding: 0 20px;
  line-height: 50px;
  font-size: 18px;
  font-weight: normal;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 10px;
}



@media (max-width: 768px) {

  .header {
    height: 50px;
    position: fixed;
  }

  
  .logo{
    justify-content: center;
  }
  
  .navmenu {
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
    background-color: #ffffff;
    position: fixed;
    left: 0;
    top: 50px;
    width: 100%;
    height: calc(100% - 50px);
    padding: 25px 25px;
    left: 100%;
    transition: left 0.5s;
    z-index: 4;
  }
  
  .menuitem {
    margin-bottom: 10px;
  }

  .checkbtn {
    display: block;
    cursor: pointer;
  }

  #check:checked ~ ul{
    left: 0;
    transition: left 0.5s ;
  }

  .container {
    padding-top: 15px;
  }

  .sidebar {
    display: none;
  }

  .submenu > li{
   display: none;
  }

  .subcontainer {
   z-index: -1;
   position: relative;
  }
}





